# Embdedding
LOCAL_MODEL=
MISTRAL_MODEL=
EMBEDDING_BACKEND=

# Agents
AGENT_BACKEND=
AGENT_MODEL=

# Hugging Face and Mistral
HF_TOKEN=
MISTRAL_KEY=

# ChromaDB
COLLECTION_NAME=
CHROMA_HOST=
CHROMA_PORT=
CHROMA_MODE=
CHROMA_PATH=
